In [32]:
import pandas as pd

In [33]:
pd.set_option('display.max_columns', 500)

In [34]:
df = pd.read_csv('SuperMart.csv')

In [35]:
df.head()

,Unnamed: 0,order_id,order_date,ship_date,ship_mode,sales,quantity,discount,profit,category,sub_category,product_name,product_id,customer_id,customer_name,segment,age,country,city,state,postal_code,region
0,0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,731.9400,3,0.00,219.5820,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs ...,FUR-CH-10000454,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,1,CA-2016-138688,2016-06-12,2016-06-16,Second Class,14.6200,2,0.00,6.8714,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,OFF-LA-10000240,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,2,US-2015-108966,2015-10-11,2015-10-18,Standard Class,957.5775,5,0.45,-383.0310,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,FUR-TA-10000577,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,22.3680,2,0.20,2.5164,Office Supplies,Storage,Eldon Fold N Roll Cart System,OFF-ST-10000760,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
4,4,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,48.8600,7,0.00,14.1694,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,FUR-FU-10001487,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West

In [36]:
df.columns

Index(['Unnamed: 0', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'sales', 'quantity', 'discount', 'profit', 'category', 'sub_category',
       'product_name', 'product_id', 'customer_id', 'customer_name', 'segment',
       'age', 'country', 'city', 'state', 'postal_code', 'region'],
      dtype='object')

In [37]:
#Drop unnecessary columns
df = df.drop('Unnamed: 0', 1)

In [38]:
df.head()

,order_id,order_date,ship_date,ship_mode,sales,quantity,discount,profit,category,sub_category,product_name,product_id,customer_id,customer_name,segment,age,country,city,state,postal_code,region
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,731.9400,3,0.00,219.5820,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs ...,FUR-CH-10000454,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,CA-2016-138688,2016-06-12,2016-06-16,Second Class,14.6200,2,0.00,6.8714,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,OFF-LA-10000240,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,US-2015-108966,2015-10-11,2015-10-18,Standard Class,957.5775,5,0.45,-383.0310,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,FUR-TA-10000577,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,22.3680,2,0.20,2.5164,Office Supplies,Storage,Eldon Fold N Roll Cart System,OFF-ST-10000760,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
4,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,48.8600,7,0.00,14.1694,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,FUR-FU-10001487,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West

In [39]:
df.isna().sum()

order_id         0
order_date       0
ship_date        0
ship_mode        0
sales            0
quantity         0
discount         0
profit           0
category         0
sub_category     0
product_name     0
product_id       0
customer_id      0
customer_name    0
segment          0
age              0
country          0
city             0
state            0
postal_code      0
region           0
dtype: int64

In [40]:
#df.isnull().sum()

In [41]:
# Zero nan values -> nothing further thats needs to be dropped

In [42]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
sales,9990.0,229.823514,623.359856,0.444,17.256000,54.38400,209.9175,22638.480
quantity,9990.0,3.789890,2.225364,1.000,2.000000,3.00000,5.0000,14.000
discount,9990.0,0.156180,0.206458,0.000,0.000000,0.20000,0.2000,0.800
profit,9990.0,28.674008,234.303483,-6599.978,1.731375,8.67125,29.3640,8399.976
age,9990.0,44.434735,15.667147,18.000,31.000000,45.00000,59.0000,70.000
postal_code,9990.0,55323.388689,31473.711280,1841.000,27405.000000,55901.00000,90004.0000,99207.000

In [43]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'sales', 'quantity',
       'discount', 'profit', 'category', 'sub_category', 'product_name',
       'product_id', 'customer_id', 'customer_name', 'segment', 'age',
       'country', 'city', 'state', 'postal_code', 'region'],
      dtype='object')

In [44]:
df['ship_mode'].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [45]:
df['quantity'].unique()

array([ 3,  2,  5,  7,  4,  6,  9,  1,  8, 14, 11, 13, 10, 12],
      dtype=int64)

In [46]:
df['category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [47]:
df['sub_category'].unique()

array(['Chairs', 'Labels', 'Tables', 'Storage', 'Furnishings', 'Art',
       'Phones', 'Binders', 'Appliances', 'Paper', 'Accessories',
       'Bookcases', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [48]:
df['segment'].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [49]:
df['age'].unique()

array([67, 31, 65, 20, 50, 66, 46, 18, 41, 34, 21, 48, 19, 28, 51, 27, 64,
       40, 23, 69, 45, 59, 35, 25, 29, 42, 56, 33, 70, 63, 62, 55, 36, 24,
       52, 30, 57, 60, 26, 49, 61, 39, 44, 43, 22, 68, 54, 58, 38, 32, 53,
       47, 37], dtype=int64)

In [50]:
df['country'].unique()

array(['United States'], dtype=object)

In [51]:
#Drop unnecessary columns
df = df.drop('country', 1)

In [52]:
df['postal_code'].unique()

array([42420, 90036, 33311, 90032, 28027, 98103, 76106, 53711, 84084,
       94109, 68025, 19140, 84057, 90049, 77095, 75080, 77041, 60540,
       32935, 55122, 48185, 19901, 47150, 10024, 12180, 90004, 60610,
       85234, 22153, 10009, 38109, 35601, 94122, 27707, 60623, 55901,
       55407, 97206, 55106, 80013, 28205, 60462, 10035, 50322, 43229,
       37620, 19805, 61701, 85023, 95661, 64055, 91104, 43055, 53132,
       85254, 95123, 98105, 98115, 73034, 90045, 19134, 88220, 78207,
       77036, 62521, 71203,  6824, 75051, 92374, 45011,  7090, 19120,
       44312, 80219, 75220, 37064, 90604, 48601, 44256, 43017, 48227,
       38401, 95051, 55044, 92037, 77506, 94513, 27514, 45231, 94110,
       90301, 33319, 80906,  8701, 22204, 80004,  7601, 33710, 19143,
       90805, 92345, 37130,  1852, 31907,  6040, 78550, 85705, 62301,
        2038, 48180, 33024, 98198, 61604, 89115,  2886, 33180, 92646,
        1841, 39212, 10801, 28052, 32216, 77070, 47201, 13021, 94521,
       60068, 11757, 92024, 77340, 14609, 72701, 80134, 30318, 64118,
       48234, 33801, 36116, 85204, 60653, 54302, 45503, 28403, 33614,
       90008, 98270, 40475, 97301, 78041, 75217, 43123, 10011, 48126,
       31088, 92691, 48307, 98661, 60505, 75081, 44105, 75701, 27217,
       22980, 19013, 27511, 32137, 10550, 33012, 78745, 11572, 60201,
       48183, 55016, 71111, 50315, 93534, 28806, 92530, 92105, 92704,
       53209,  7109, 40214, 44052,  7036, 93905,  8901, 17602, 21044,
       49201,  6360, 92503, 78664, 92054, 80027, 23464, 92563, 63376,
       43615, 78521, 94601, 20735, 30076, 46350, 48911, 92025, 14215,
       39503, 93727, 27834, 35630,  2908, 81001, 94533, 32725, 42071,
        6457, 28540, 90660, 30080, 24153, 92627, 44134, 36608, 75061,
        8360, 14304, 27360, 75019, 92677,  8302,  2149, 11561, 75002,
       79907, 76051, 98502, 98031, 70506, 97224, 20016, 60076, 89031,
       23434, 46203, 27405, 53142, 66062, 74133, 27604, 31204, 42104,
       99207, 22901, 13601, 76017, 80020, 36830,  8861, 91761, 21215,
       33437, 95207,  3820, 77840, 63116, 95336, 44240, 84106, 35810,
       43302, 80122, 28110, 85345, 57103, 80525, 37042, 87105, 60126,
       28314, 14701, 46544, 92253, 75007, 65807, 79109, 43130, 94591,
       32303, 84107, 88001, 35244, 70601, 85301, 48146, 92307, 60035,
       77301, 75023, 75150, 19711,  2169, 78501, 61107, 38301, 32114,
       73120, 84043, 44107, 68104,  3301,  2920, 52601, 60004],
      dtype=int64)

In [53]:
df['state'].unique()

array(['Kentucky', 'California', 'Florida', 'North Carolina',
       'Washington', 'Texas', 'Wisconsin', 'Utah', 'Nebraska',
       'Pennsylvania', 'Illinois', 'Minnesota', 'Michigan', 'Delaware',
       'Indiana', 'New York', 'Arizona', 'Virginia', 'Tennessee',
       'Alabama', 'Oregon', 'Colorado', 'Iowa', 'Ohio', 'Missouri',
       'Oklahoma', 'New Mexico', 'Louisiana', 'Connecticut', 'New Jersey',
       'Massachusetts', 'Georgia', 'Nevada', 'Rhode Island',
       'Mississippi', 'Arkansas', 'Maryland', 'District of Columbia',
       'Kansas', 'New Hampshire', 'South Dakota'], dtype=object)

In [54]:
df['region'].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [55]:
df['city'].unique()

array(['Henderson', 'Los Angeles', 'Fort Lauderdale', 'Concord',
       'Seattle', 'Fort Worth', 'Madison', 'West Jordan', 'San Francisco',
       'Fremont', 'Philadelphia', 'Orem', 'Houston', 'Richardson',
       'Naperville', 'Melbourne', 'Eagan', 'Westland', 'Dover',
       'New Albany', 'New York City', 'Troy', 'Chicago', 'Gilbert',
       'Springfield', 'Memphis', 'Decatur', 'Durham', 'Rochester',
       'Minneapolis', 'Portland', 'Saint Paul', 'Aurora', 'Charlotte',
       'Orland Park', 'Urbandale', 'Columbus', 'Bristol', 'Wilmington',
       'Bloomington', 'Phoenix', 'Roseville', 'Independence', 'Pasadena',
       'Newark', 'Franklin', 'Scottsdale', 'San Jose', 'Edmond',
       'Carlsbad', 'San Antonio', 'Monroe', 'Fairfield', 'Grand Prairie',
       'Redlands', 'Hamilton', 'Westfield', 'Akron', 'Denver', 'Dallas',
       'Whittier', 'Saginaw', 'Medina', 'Dublin', 'Detroit', 'Columbia',
       'Santa Clara', 'Lakeville', 'San Diego', 'Brentwood',
       'Chapel Hill', 'Cincinnati', 'Inglewood', 'Tamarac',
       'Colorado Springs', 'Lakewood', 'Arlington', 'Arvada',
       'Hackensack', 'Saint Petersburg', 'Long Beach', 'Hesperia',
       'Murfreesboro', 'Lowell', 'Manchester', 'Harlingen', 'Tucson',
       'Quincy', 'Taylor', 'Pembroke Pines', 'Des Moines', 'Peoria',
       'Las Vegas', 'Warwick', 'Miami', 'Huntington Beach', 'Lawrence',
       'Jackson', 'New Rochelle', 'Gastonia', 'Jacksonville', 'Auburn',
       'Park Ridge', 'Lindenhurst', 'Huntsville', 'Fayetteville',
       'Parker', 'Atlanta', 'Gladstone', 'Lakeland', 'Montgomery', 'Mesa',
       'Green Bay', 'Tampa', 'Marysville', 'Richmond', 'Salem', 'Laredo',
       'Grove City', 'Dearborn', 'Warner Robins', 'Mission Viejo',
       'Rochester Hills', 'Vancouver', 'Cleveland', 'Tyler', 'Burlington',
       'Waynesboro', 'Chester', 'Cary', 'Palm Coast', 'Mount Vernon',
       'Hialeah', 'Austin', 'Oceanside', 'Evanston', 'Trenton',
       'Cottage Grove', 'Bossier City', 'Lancaster', 'Asheville',
       'Lake Elsinore', 'Santa Ana', 'Milwaukee', 'Belleville',
       'Louisville', 'Lorain', 'Linden', 'Salinas', 'New Brunswick',
       'Norwich', 'Riverside', 'Round Rock', 'Virginia Beach', 'Murrieta',
       'Saint Peters', 'Toledo', 'Brownsville', 'Oakland', 'Clinton',
       'Roswell', 'La Porte', 'Lansing', 'Escondido', 'Buffalo',
       'Gulfport', 'Fresno', 'Greenville', 'Florence', 'Providence',
       'Pueblo', 'Deltona', 'Murray', 'Middletown', 'Pico Rivera',
       'Smyrna', 'Costa Mesa', 'Parma', 'Mobile', 'Irving', 'Vineland',
       'Niagara Falls', 'Thomasville', 'Coppell', 'Laguna Niguel',
       'Bridgeton', 'Everett', 'Allen', 'El Paso', 'Grapevine', 'Olympia',
       'Kent', 'Lafayette', 'Tigard', 'Washington', 'Skokie',
       'North Las Vegas', 'Suffolk', 'Indianapolis', 'Greensboro',
       'Kenosha', 'Olathe', 'Tulsa', 'Raleigh', 'Macon', 'Bowling Green',
       'Spokane', 'Charlottesville', 'Watertown', 'Broomfield',
       'Perth Amboy', 'Ontario', 'Baltimore', 'Boynton Beach', 'Stockton',
       'College Station', 'Saint Louis', 'Manteca', 'Salt Lake City',
       'Marion', 'Littleton', 'Sioux Falls', 'Fort Collins',
       'Clarksville', 'Albuquerque', 'Elmhurst', 'Jamestown', 'Mishawaka',
       'La Quinta', 'Carrollton', 'Amarillo', 'Vallejo', 'Tallahassee',
       'Las Cruces', 'Encinitas', 'Hoover', 'Lake Charles', 'Glendale',
       'Lincoln Park', 'Apple Valley', 'Highland Park', 'Conroe', 'Plano',
       'Mesquite', 'Mcallen', 'Rockford', 'Daytona Beach',
       'Oklahoma City', 'Lehi', 'Omaha', 'Cranston', 'Arlington Heights'],
      dtype=object)

In [56]:
# No strange values included => no clean-up necessary here

In [57]:
df.to_csv('SuperMart_cleaned.csv', index=False)